{#
/**
 * @file weta-omny-embed.html.twig
 * Default theme implementation to present an embedded Omny player.
 *
 *
 *
 * Available variables:
 * - src: The iframe source
 * - title: The entity title.
 *
 * @ingroup themeable
 */
#}

<iframe src="{{ src }}" width="100%" height="180" frameborder="0" title="{{ title }}"></iframe>
