{#
/**
 * @file weta-omny-playlist-embed.html.twig
 * Theme implementation to present an embedded Omny playlist with player.
 *
 *
 *
 * Available variables:
 * - src: The iframe source
 * - title: The entity title.
 *
 * @ingroup themeable
 */
#}

<iframe src="{{ src }}" allow="autoplay; clipboard-write" width="100%" height="500" frameborder="0" title="{{ title }}"></iframe>
